/*------ Size -------*/
$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 993px;

/*------ Colors -----*/
$color-primary-dark: #0f9dd4;
$color-primary-light: #17b1e6;
$color-seondary: #1d2131;
$color-tertiary: #f90248;
$color-yellow: #17b1e6;
$color-black: #000000;
$color-dark: #2b2b2b;
$color-dark-2: #5a5a5a;
$color-gray: #eeeeee;
$color-gray-2: #c2c2c2;
$color-white: #ffffff;
$color-yellow: #ffff00;
$color-orange: #ffa502;
$color-pink: #eb4d4b;
$color-red: #b33939;
$color-pumpkin: #ff793f;
$color-ochre: #cc8e35;
$color-green: #16a085;
$color-green-2: #2ecc71;
